@{
    Layout = null;
}


SessionId: @ViewBag.SessionId
<br />
Ctr: @ViewBag.Counter

<br />

Кукисы: @ViewBag.CookiesStr

<br />
CookieToSet: @ViewBag.CookieToSet
<br />

<a href="@ViewBag.NextUrl">Далее</a>